In [1]:
import pandas as pd

In [2]:
listings = pd.read_csv('listings.csv.gz', compression='gzip')

In [3]:
calendar = pd.read_csv('calendar.csv.gz', compression='gzip')

In [16]:
calendar

         listing_id        date available    price
0          29185135  2019-08-04         t  $165.00
1          29185135  2019-08-03         t  $165.00
2          29185135  2019-08-02         t  $165.00
3          29185135  2019-08-01         t  $165.00
4          29185135  2019-07-31         t  $165.00
5          29185135  2019-07-30         t  $165.00
6          29185135  2019-07-29         t  $165.00
7          29185135  2019-07-28         t  $165.00
8          29185135  2019-07-27         t  $165.00
9          29185135  2019-07-26         t  $165.00
10         29185135  2019-07-25         t  $165.00
11         29185135  2019-07-24         t  $165.00
12         29185135  2019-07-23         t  $165.00
13         29185135  2019-07-22         t  $165.00
14         29185135  2019-07-21         t  $165.00
15         29185135  2019-07-20         t  $165.00
16         29185135  2019-07-19         t  $165.00
17         29185135  2019-07-18         t  $165.00
18         29185135  2019-07-17         t  $165.00
19         29185135  2019-07-16         t  $165.00
20         29185135  2019-07-15         t  $165.00
21         29185135  2019-07-14         t  $165.00
22         29185135  2019-07-13         t  $165.00
23         29185135  2019-07-12         t  $165.00
24         29185135  2019-07-11         t  $165.00
25         29185135  2019-07-10         t  $165.00
26         29185135  2019-07-09         t  $165.00
27         29185135  2019-07-08         t  $165.00
28         29185135  2019-07-07         t  $165.00
29         29185135  2019-07-06         t  $165.00
...             ...         ...       ...      ...
1940675    29566252  2019-06-20         f      NaN
1940676    29566252  2019-06-19         f      NaN
1940677    29566252  2019-06-18         f      NaN
1940678    29566252  2019-06-17         f      NaN
1940679    29566252  2019-06-16         f      NaN
1940680    29566252  2019-06-15         f      NaN
1940681    29566252  2019-06-14         f      NaN
1940682    29566252  2019-06-13         f      NaN
1940683    29566252  2019-06-12         f      NaN
1940684    29566252  2019-06-11         f      NaN
1940685    29566252  2019-06-10         f      NaN
1940686    29566252  2019-06-09         f      NaN
1940687    29566252  2019-06-08         f      NaN
1940688    29566252  2019-06-07         f      NaN
1940689    29566252  2019-06-06         f      NaN
1940690    29566252  2019-06-05         f      NaN
1940691    29566252  2019-06-04         f      NaN
1940692    29566252  2019-06-03         f      NaN
1940693    29566252  2018-11-18         f      NaN
1940694    29566252  2018-11-17         f      NaN
1940695    29566252  2018-11-16         f      NaN
1940696    29566252  2018-11-15         f      NaN
1940697    29566252  2018-11-14         t   $75.00
1940698    29566252  2018-11-13         t   $75.00
1940699    29566252  2018-11-12         t   $75.00
1940700    29566252  2018-11-11         f      NaN
1940701    29566252  2018-11-10         f      NaN
1940702    29566252  2018-11-09         f      NaN
1940703    29566252  2018-11-08         f      NaN
1940704    29566252  2018-11-07         f      NaN

[1940705 rows x 4 columns]

In [17]:
calendar.date.unique

<bound method Series.unique of 0          2019-08-04
1          2019-08-03
2          2019-08-02
3          2019-08-01
4          2019-07-31
5          2019-07-30
6          2019-07-29
7          2019-07-28
8          2019-07-27
9          2019-07-26
10         2019-07-25
11         2019-07-24
12         2019-07-23
13         2019-07-22
14         2019-07-21
15         2019-07-20
16         2019-07-19
17         2019-07-18
18         2019-07-17
19         2019-07-16
20         2019-07-15
21         2019-07-14
22         2019-07-13
23         2019-07-12
24         2019-07-11
25         2019-07-10
26         2019-07-09
27         2019-07-08
28         2019-07-07
29         2019-07-06
              ...
1940675    2019-06-20
1940676    2019-06-19
1940677    2019-06-18
1940678    2019-06-17
1940679    2019-06-16
1940680    2019-06-15
1940681    2019-06-14
1940682    2019-06-13
1940683    2019-06-12
1940684    2019-06-11
1940685    2019-06-10
1940686    2019-06-09
1940687    2019-06-08
1940688    2019-06-07
1940689    2019-06-06
1940690    2019-06-05
1940691    2019-06-04
1940692    2019-06-03
1940693    2018-11-18
1940694    2018-11-17
1940695    2018-11-16
1940696    2018-11-15
1940697    2018-11-14
1940698    2018-11-13
1940699    2018-11-12
1940700    2018-11-11
1940701    2018-11-10
1940702    2018-11-09
1940703    2018-11-08
1940704    2018-11-07
Name: date, Length: 1940705, dtype: object>

In [15]:
calendar.describe()

         listing_id
count  1.940705e+06
mean   1.531575e+07
std    8.480259e+06
min    7.893000e+03
25%    7.959145e+06
50%    1.625721e+07
75%    2.188217e+07
max    2.986167e+07

In [14]:
calendar.to_csv('calendar.csv', index=False)

In [12]:
calendar.columns

Index(['listing_id', 'date', 'available', 'price'], dtype='object')

In [5]:
listings.head()

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,requires_license,license,jurisdiction_names,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,6,https://www.airbnb.com/rooms/6,20181115100559,2018-11-15,Large Craftsmen w/ yard ~ Perfect for families,Our Beautiful Craftsmen house has all the mode...,"We are located in the heart of North Park, the...",Our Beautiful Craftsmen house has all the mode...,none,"We have the best Neighborhood in San Diego, in...",...,f,NaN,"{""SAN DIEGO"","" SAN DIEGO TOURISM MARKETING DIS...",t,f,strict_14_with_grace_period,f,f,1,1.18
1,5570,https://www.airbnb.com/rooms/5570,20181115100559,2018-11-15,Ocean front condo on the sand,Missionbeachretreat. Great Ocean Front Condo...,This charming two bedroom beachfront condomini...,Missionbeachretreat. Great Ocean Front Condo...,none,While some may compare San Diego’s Mission Bea...,...,f,NaN,"{""SAN DIEGO"","" SAN DIEGO TOURISM MARKETING DIS...",f,f,strict_14_with_grace_period,f,f,2,NaN
2,8095,https://www.airbnb.com/rooms/8095,20181115100559,2018-11-15,Sunset Cliffs Studio,NaN,"Newly renovated, detached studio with private ...","Newly renovated, detached studio with private ...",none,"proximity to ocean , walkability to ocean beac...",...,f,NaN,"{""SAN DIEGO"","" SAN DIEGO TOURISM MARKETING DIS...",f,f,strict_14_with_grace_period,f,f,1,1.56
3,39516,https://www.airbnb.com/rooms/39516,20181115100559,2018-11-15,Art Studio Retreat/Rustic Cabin,We love having explorers from all over the wor...,"Nestled in South/North Park, a gentrified neig...",We love having explorers from all over the wor...,none,"We love our eclectic neighborhood, with a smal...",...,f,NaN,"{""SAN DIEGO"","" SAN DIEGO TOURISM MARKETING DIS...",f,f,strict_14_with_grace_period,t,f,1,3.33
4,45429,https://www.airbnb.com/rooms/45429,20181115100559,2018-11-15,OB cottage SD--view on waterway,This charming independent cottage nestles besi...,"This 1 bd ~500 sq ft. ground level, independe...",This charming independent cottage nestles besi...,none,NaN,...,f,NaN,"{""SAN DIEGO"","" SAN DIEGO TOURISM MARKETING DIS...",f,f,moderate,f,f,1,0.06